--- 
--- 

@import "base";

@include baseStyle;

#nav {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  font-size: x-large;
  column-gap: 44px;
  color: var(--color-text);

  img {
    width: 2em;
  }
}

input:checked+.slider {
  background-color: var(--color-link);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 1.8em;
  display: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-tag);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3em;
  width: 1.3em;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-background);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.content {
  height: 100%;
}

.content.hidden {
  display: none;
}

.tab-content {
  width: 100vw;
  height: 100%;
}

.tab-bar {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab-nav-container {
  background-color: var(--color-background-tab);
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 450px;
  margin-bottom: 10px;
}

.tab {
  color: var(--color-text);
  background: var(--color-background-tag);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0 10px;
}

.tab i {
  font-size: 1.2em;
}

.tab p {
  font-weight: bold;
  overflow: hidden;
  max-width: 0;
}

.tab.active p {
  margin-left: 10px;
  max-width: 200px;
  transition: max-width 0.4s linear;
}

.tab.active.link {
  background-color: var(--color-active-tab);
  color: var(--color-link);
}

@media (max-width: 450px) {
  .tab-nav-container {
    padding: 0 10px;
    width: 350px;
  }

  .tab {
    padding: 0 20px;
    margin: 10px;
  }

  .tab i {
    font-size: 14px;
  }

  .tab p {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    max-width: 0;
  }

}