--- 
--- 

@import "base";

@include baseStyle;

#container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 90vh;

    .text {
        color: var(--color-text);
        margin: 1em 0;
    }

    input {
        color: var(--color-link);
    }

    #pdf-content {
        height: 80vh;
    }
}